<!DOCTYPE html>
<html>
  <head>
    
    <title><%= content_for?(:title) ? yield(:title) : "Pairbnb" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Pairbnb" %>">
    <%# Modernizr is required for Zurb Foundation %>
    <%= include_gon %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>

    <%= csrf_meta_tags %>
      <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
      <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', "data-turbolinks-track" => true %>

  </head>

  </head>
  <body class="airbnb">

    <header>
          <ul>
            <%= render 'layouts/navigation' %>
          </ul>
  
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <p id="notice"><%= notice %></p>
       <%= yield %>

    </main>
    <%= javascript_include_tag "vendor/jquery.min" %>
    <%= javascript_include_tag "foundation.min" %>
    <%= javascript_include_tag "foundation/foundation" %>
    <%= javascript_include_tag "foundation/foundation.topbar" %>
<script>
$(document).on('ready page:load', function () {
$(function(){ $(document).foundation(); });
});
// your custom codes
</script>
  </body>
</html>
